#header {
    background-color: #282c34;
    width: 100%;
    border-bottom: 1px;
    border-bottom-color: white;
    border-bottom-style: groove;
    color: white;
    font-size: calc(10px + 2vmin);
    top: 0%;
    text-align: left;
    display: flex;
    flex: row;
    justify-content: space-between;
    vertical-align:middle;
}

.title-btn {
    margin: 15px;
} 

.profile-pic {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 10px;
    margin-inline-end: 15px;
    background-image: url(../static/header/default-profile-pic.png);
    background-color: #cccccc;
    background-size: 30px;
    background-repeat: no-repeat;
}

.profile-pic:hover{
    cursor: pointer;
}

.title-btn:hover{
	cursor: pointer;
}