.Register {
    text-align: center;
}
  
.Register-body {
    background-color: #282c34;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

#register-form {
    width: 350px;
    margin-top: 1vmin;
    padding: 10px;
    border-radius: 5px;
    border-color: white;
    border-width: 2px;
    border-style: groove;
    flex-direction: column;
}

#register-form .input{
    font-size: 15px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#register-btns{
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: #282c34;
    color:white;
    height: 5vh;
    align-self: center;
}