<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jianghu.jianghu.mapper" >

    <select id="existTable" parameterType="String" resultType="Integer">
        select count(*)
        from information_schema.TABLES
        where LCASE(table_name)=#{tableName}
    </select>

    <update id="dropTable">
        DROP TABLE IF EXISTS ${tableName}
    </update>

    <update id="createNewTable" parameterType="String">
        CREATE TABLE ${tableName} (
        id bigint(20) NOT NULL AUTO_INCREMENT,
        entityId bigint(20) NOT NULL,
        dx double NOT NULL,
        dy double NOT NULL,
        dz double NOT NULL,
        ntype varchar(32) NOT NULL,
        gnssTime bigint(20) NOT NULL,
        speed float DEFAULT NULL,
        direction float DEFAULT NULL,
        attributes varchar(255) DEFAULT NULL,
        PRIMARY KEY (id))
    </update>

</mapper>

